/* body */
body {
  margin: 0;
}

/* header section */
.header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #3a3a3a;
  padding-left: 10px;
}
/* nav bar style */

.nav-bar > ul {
  list-style: none;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 10px;
}
.nav-bar > ul > li {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
  display: flex;
  margin-left: 34px;
}
/* Main body */
main,
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* first section */
.first-section {
  font-family: "Poppins", sans-serif;
  display: flex;
}
.first-section-passage {
  width: 582px;
  margin-right: 133px;
}
.first-headline-line1,
.first-headline-line2 {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 0;
}
.first-headline-line2 {
  margin-top: 0;
}
.first-passage {
  font-size: 16px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 16px;
}
.first-section-link {
  background-color: #e02c6d;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 24px;
  border-radius: 41px;
}
.fa-arrow-right {
  padding-left: 8px;
}
.first-section-img {
  width: 440px;
  height: 414px;
  transition: transform 3s;
}
.first-section-img:hover {
  transform: rotate(360deg);
}

/* second section*/
.second-section {
  width: 1110px;
  height: 110px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.second-section-logos1 > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  align-items: center;
}
.second-section-logos1 > ul > li {
  padding-right: 60px;
}
.line-break {
  border: 1px solid #3a3a3a;
}
/* third section */
.third-section {
  width: 1047px;
  height: 1662px;
  margin-bottom: 100px;
}
.third-section-heading {
  font-family: "Poppins", sans-serif;
  color: #3a3a3a;
  font-size: 28px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-section-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}
.section-item {
  margin-bottom: 30px;
}
.item-image {
  width: 300px;
  height: 256px;
  margin-bottom: 16px;
}
.collection-heading1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 0;
}
.collection-heading2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 6px;
  margin-bottom: 0;
}
.collection-rating {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}
.collection-rating > ul {
  list-style: none;
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 0;
}
.fa-star,
.fa-star-half {
  width: 16px;
  height: 16px;
  color: orange;
  padding-right: 3px;
}
.ratiug-number {
  color: #5e6366;
  padding-left: 8px;
}
.product-descriptions {
  margin-bottom: 17px;
}
.description {
  font-family: "Inter", sans-serif;
  color: #787885;
  margin-top: 0;
  margin-bottom: 0;
}
.third-section-button {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #e02c6d;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* forth section */
.forth-section {
  display: flex;
  width: 1110px;
  height: 270px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 100px;
}
.forth-section-img {
  width: 404px;
  height: 270px;
}
.forth-section-discription {
  width: 610px;
  height: 220px;
  padding-left: 96px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
}
.forth-section-discription h2 {
  font-family: "Poppins", sans-serif;
  color: #0a0826;
  margin: 0;
}
.forth-section-passage {
  font-family: "Poppins", sans-serif;
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
}
.forth-section-link {
  background-color: #e02c6d;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 24px;
}

/* footer section */
.footer {
  background-color: #0a0826;
  width: 100%;
  height: 239px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer-line1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  margin: 0;
  padding-bottom: 3px;
  color: #ffffff;
}
.footer-line2,
.footer-line3 {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding-bottom: 3px;
  color: #ffffff;
}
.footer-icons > ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}
.footer-icons > ul > li {
  color: white;
  border-radius: 50px;
  margin-left: 16px;
}
.fa-youtube {
  margin-right: 16px;
}
/* fonts will be added when needed. */

/*
font-family: "Poppins", sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Inter', sans-serif; */ ;
